<section class="banner-service padding-top-10" id="home">
    <div class="container">
            <div class="row">
                    <div class="col-md-12 pb-40 header-text text-center">
                        <h2 class="pb-11">Featured chatbot</h2>
                    </div>
                </div>
        <div class="row padding-bottom-65">
            <div class="banner-content col-lg-4 col-md-4">
                <h1>
                    Improved <br> Production <br> level with <br> Chatbots			
                </h1>
              
               
            </div>
            <div class="banner-img col-lg-8 col-md-8">
                <img class="img-fluid" src="./././assets/pic/ChatBot.png" alt="">
            </div>												
        </div>
    </div>
</section>