<section class="banner-area" id="home">
        <div class="intro-overlay"></div>
     <div class="container">
                    <div class="row fullscreen d-flex align-items-center justify-content-center padding-top" style="height: 625px;">
                        <div class="banner-content col-lg-12 col-md-12">
                                <div class="col text-center">
                  
                                          <h2>
                                                Chatbot for Festivals
                                                
                                            </h2>
                                           
                                                <button class="btn bot-btn">Talk To Demo Bot</button>
                                            </div>                                         
                    </div>
                    <div class="banner-content col-lg-12 col-md-12">
                      <img src="./././assets/pic/banner-img (5).png" alt="" class="img-fluid">                                     
                </div>
            
    </div>
</div>
    
</section>