<section class="product-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10">Featured chatbots Products</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <img src="./././assets/img/banner-img.png" class="imgresponsive" alt="">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="feature-list">
                    <ul>
                      <li>
                        <div class="feature-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="feature-details">
                          <h3>Bot Stories</h3>
                          <p>Create Stories for frequent questions and cases to save more time for the difficult ones.
                            
                          </p>
                        </div>
                      </li>
      
                      <li>
                        <div class="feature-icon">
                          <i class="fa fa-paw"></i>
                        </div>
                        <div class="feature-details">
                          <h3>Integrations</h3>
                          <p>Maecenas tempus tellus eget condimentum
                              rhoncus sem quam semper libero sit amet.
                          </p>
                        </div>
                      </li>
      
                      <li>
                        <div class="feature-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="feature-details">
                          <h3>Languages</h3>
                          <p>Maecenas tempus tellus eget condimentum
                              rhoncus sem quam semper libero sit amet.
                          </p>
                        </div>
                      </li>
      
                      <li>
                        <div class="feature-icon">
                          <i class="fa fa-gears"></i>
                        </div>
                        <div class="feature-details">
                          <h3>Reports</h3>
                          <p>Maecenas tempus tellus eget condimentum
                              rhoncus sem quam semper libero sit amet.
                          </p>
                        </div>
                      </li>
 
                    </ul>
      
                  </div>
            </div>
        </div>
    </div>
</section>